apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- ../../base/cnpg-operator
- ../../base/cnpg-storage
- ../../base/cnpg-cluster
- ../../base/cnpg-pooler
- ../../base/cnpg-backup
- ../../base/cnpg-monitoring
- persistent-volumes-production.yaml
- ingress-production.yaml
- network-policy.yaml

images:
- name: docker.io/library/store-deployer
  newName: ghcr.io/naytife/commerce/store-deployer
  newTag: a224d9ab24c6bc75190886aa8d4b9619559972c5
- name: naytife/auth-handler
  newName: ghcr.io/naytife/commerce/auth-handler
  newTag: a224d9ab24c6bc75190886aa8d4b9619559972c5
- name: naytife/backend
  newName: ghcr.io/naytife/commerce/backend
  newTag: a224d9ab24c6bc75190886aa8d4b9619559972c5
- name: template-registry
  newName: ghcr.io/naytife/commerce/template-registry
  newTag: a224d9ab24c6bc75190886aa8d4b9619559972c5

replicas:
- count: 3
  name: backend
- count: 3
  name: store-deployer
- count: 1
  name: postgres
- count: 1
  name: redis

labels:
- pairs:
    deployment-method: kustomize
    environment: production

patches:
- path: backend-production-patch.yaml
- path: auth-handler-production-patch.yaml
- path: postgres-production-patch.yaml
- path: redis-production-patch.yaml
- path: template-registry-production-patch.yaml
- path: store-deployer-production-patch.yaml
- path: cnpg-cluster-production-patch.yaml

namePrefix: prod-

configMapGenerator:
- literals:
  - LOG_LEVEL=warn
  - APP_ENV=production
  - DATABASE_HOST=postgres.naytife-production.svc.cluster.local
  - REDIS_HOST=redis.naytife-production.svc.cluster.local
  name: production-config
